$appFont: "Roboto", sans-serif;
$appBlack: #141519;
$appBlack2: #23262e;
$appBlack2WithOpacity: #23262e80;
$appOrange: #c07a39;
$appOrange2: #f59c4a;
$appRed: rgb(199, 25, 25);
$appGreen: #1f737b;
$appLightGreen: #7aacb1;
$appGrey: #5c5f67;
$appGrey2: #c0c1c2;
$appYellow: #ffffeb;
$appWhite: #f2f2f2;

$appTransition: all 0.4s;

$appBoxShadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

$appBorderRadius: 2px;
$zindexHeader: 400;
