.theme1 {
    .collectionGhost {
        opacity: 1;
        background: $appYellow;
    }

    .collection__links {
        color: $appOrange;
        .sort {
            cursor: move;
            font-size: 18px;
        }
        a {
            margin-left: 15px;
        }
    }

    .collection__views {
        color: $appGrey2;
        font-style: italic;
    }
}
