.theme1 {
    .command {
        padding: 15px 20px;
        border: solid 1px $appGrey;
        border-radius: $appBorderRadius;
        background-color: rgba($appBlack2, 0.5);
        margin-bottom: 20px;
        transition: $appTransition;

        &:hover,
        &:focus {
            background-color: rgba($appGrey2, 0.1);
        }
    }

    .command__collection {
        color: $appOrange;
        font-size: 12px;
        a {
            font-size: 17px;
            font-weight: 700;

            &:hover,
            &:focus {
                color: $appOrange2;
            }
        }
    }

    .command__code {
        padding-top: 2px;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;

        .icon {
            i {
                color: $appGrey;
                font-size: 14px;
                padding-top: 4px;
                padding-right: 5px;
            }
            display: inline-block;
            width: 20px;
            vertical-align: top;
        }

        span {
            display: inline-block;
            width: calc(100% - 30px);
        }

        .copy {
            color: $appOrange;
            font-size: 16px;
            padding-left: 20px;
            cursor: pointer;

            &:hover,
            &:focus {
                color: $appOrange2;
            }
        }
    }
    .command__date {
        font-size: 11px;
        color: $appGrey2;
    }
    .command__links {
        a {
            color: $appGreen;
            font-size: 18px;
            transition: $appTransition;
            margin-left: 15px;

            &:hover,
            &:focus {
                color: $appOrange;
            }
        }
    }
}
