.theme1 {
    .card {
        background-color: rgba($appBlack2, 0.8);
        border: solid 1px $appGrey;
    }

    .alert {
        margin-bottom: 0px;
        //padding: 0px;
        ul {
            margin: 5px 0px;
            padding-left: 20px;
        }
    }

    .alert-danger {
        //background-color: transparent;
        //border-color: transparent;
        color: $appRed !important;
        .text-red-600 {
            color: $appRed !important;
        }
    }

    .alert-success {
        //background-color: transparent;
        //border-color: transparent;
        color: $appGreen;
    }

    label {
        font-size: 14px;
        color: $appGrey2;
        margin-bottom: 4px;
    }

    .form-control,
    .form-select {
        box-shadow: none !important;
        height: 50px;
        border-radius: $appBorderRadius;

        &:hover,
        &:focus {
            border-color: $appOrange;
        }
    }

    .form-check-input {
        box-shadow: none !important;

        &:hover,
        &:focus {
            background-color: $appOrange;
            border-color: $appOrange;
        }
    }

    .form-check-input:checked {
        background-color: $appOrange;
        border-color: $appOrange;
    }
}
