.theme2 {
    .card {
        background-color: rgba($appBlack2, 0.8);
        border: solid 1px $appGrey;
    }

    .alert {
        margin-bottom: 0px;
        font-size: 16px;

        ul {
            margin: 5px 0px;
            padding-left: 20px;
        }
    }

    .alert-danger {
        color: $appRed !important;
        .text-red-600 {
            color: $appRed !important;
        }
    }

    .alert-success {
        color: $appGreen;
    }

    .form-control::placeholder {
        color: $appGrey2;
    }

    label {
        font-size: 16px;
        color: $appGrey2;
        margin-bottom: 4px;
    }
    textarea {
        height: 150px !important;
    }
    .form-control,
    .form-select {
        box-shadow: none !important;
        height: 50px;
        border-radius: $appBorderRadius;
        background-color: $appGrey;
        color: $appGrey2;
        border: solid 1px $appGrey;

        &:hover,
        &:focus {
            border-color: $appYellow;
        }
    }

    .form-check-input {
        box-shadow: none !important;

        &:hover,
        &:focus {
            background-color: $appYellow;
            border-color: $appYellow;
        }
    }

    .form-check-input:checked {
        background-color: $appYellow;
        border-color: $appYellow;
    }
}
