.theme2 {
    .search__button {
        margin-top: 28px;
        .btn {
            width: 100%;
        }
    }
    @media (max-width: 991.98px) {
        .search__button .btn {
            width: 100%;
        }
    }
}
