$appFont: "Titillium Web", sans-serif;
$appBlack: #141519;
$appBlack2: #3e3f38;
$appGrey: #504f4b;
$appGrey2: #e3e6e9;
$appGreen: #596c42;
$appYellow: #fcba42;
$appYellow2: #a5956c;
$appBrown: #5b4b2b;
$appLightBrown: #a5956c;
$appWhite: #ffffff;

$appRed: rgb(199, 25, 25);

$appTransition: all 0.4s;
$appBoxShadow: 0px 2px 2px rgba($appGrey, 0.1);

$appBorderRadius: 4px;
$zindexToast: 500;
$zindexBurger: 600;
